.field {
  margin: 15px 15px;
  display: flex;
  align-items: center;
  .input {
    border: 1px solid #E0E0E0;
    height: 30px;

    padding: 0 10px;
    width: 100%;
    outline: none;
  }

  .btn {
    padding: 0 10px;
    height: 33px;
    border: 1px solid #E0E0E0;
    background: #007BFF;
    color: #fff;
    cursor: pointer;
  }
}