.auth {
  color: #000;
  background: #EDEEF0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;


  .container {
    box-sizing: border-box;
    padding: 32px 24px;
    width: 360px;
    min-height: 336px;
    border-radius: 12px;
    //border: 1px solid #2B2B2C;
    background:  #fff;

    .list {
      display: flex;
      justify-content: center;
      ul {
        padding: 0;
        margin: 0;
        width: 120px;

        display: flex;
        justify-content: space-between;
        list-style-type: none;

        .listItem {
          font-size: 13px;
          font-weight: 500;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
            color: darkgoldenrod;
          }
        }

        .active {
          color: gold;
        }
      }
    }

    form {
      margin: 30px 0;
    }

    .title {
      margin-bottom: 20px;
      .h2 {
        font-size: 20px;
        text-align: center;
        font-weight: 500;
        line-height: 24px;
      }
    }

    .submit {
      display: flex;
      justify-content: center;
    }
  }
}

