.main {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  .field {
    display: flex;
    justify-content: center;
    //max-width: 1660px;
  }
  .todolists {
    display: flex;
    justify-content: center;

    gap: 20px;
    flex-wrap: wrap;
  }
}